.logo {
    width: 70px;
    border-radius: 30px;
}

.navbar {
    margin-bottom: 2rem;
    padding: 10px;
}

.btn-border {
    margin-top: 10px;
}

.active {
    transition: color 0.1s ease;
}