.cont_form {
    max-width: 600px; /* Ajusta este valor según sea necesario */
    margin: auto; /* Centra el contenedor en la página */
    padding: 20px; /* Agrega un relleno interno al contenedor */
  }